*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
*.Rhistory

RTE/
Templates/
Examples/

!*.ioc
!*.axf
!*.bin
!*.hex